In [141]:
import pandas as pd

# DataFrame

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value

In [142]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index

In [143]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

# Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list

In [144]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [145]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [146]:
fruits = pd.read_csv("product.csv")

# Attribute

 how large the resulting DataFrame

In [147]:
fruits.shape

(5, 4)

Top 5

In [148]:
fruits.head()

     day  apple  orange  mango
0    mon     30      21      9
1    tue     35      34     13
2    wen     41      11     11
3  thurs     34      67     89
4    fri     56      76     54

we can access the property of an object by accessing it as an attribute

In [149]:
fruits.apple

0    30
1    35
2    41
3    34
4    56
Name: apple, dtype: int64

In [150]:
fruits['apple']

0    30
1    35
2    41
3    34
4    56
Name: apple, dtype: int64

Selecting specific valus

In [151]:
fruits['apple'][0]

np.int64(30)

# Indexing in pandas

 index-based selection: 
 
 selecting data based on its numerical position in the data. iloc follows this paradigm.

In [152]:
fruits

     day  apple  orange  mango
0    mon     30      21      9
1    tue     35      34     13
2    wen     41      11     11
3  thurs     34      67     89
4    fri     56      76     54

Get the first row

In [153]:
fruits.iloc[0]

day       mon
apple      30
orange     21
mango       9
Name: 0, dtype: object

To get the first columns

In [154]:
fruits.iloc[:, 0]

0      mon
1      tue
2      wen
3    thurs
4      fri
Name: day, dtype: object

Fetch the 
First column few value

In [155]:
fruits.iloc[:1, 0]

0    mon
Name: day, dtype: object

In [156]:
fruits.iloc[1:2, 0]

1    tue
Name: day, dtype: object

In [157]:
fruits.iloc[[0, 1, 2], 0]

0    mon
1    tue
2    wen
Name: day, dtype: object

In [158]:
fruits.iloc[-2:]

     day  apple  orange  mango
3  thurs     34      67     89
4    fri     56      76     54

## Label-based selection

Get the first entry in apple

In [159]:
fruits.loc[0, 'apple']

np.int64(30)

In [160]:
fruits.loc[:, ['apple', 'mango']]

   apple  mango
0     30      9
1     35     13
2     41     11
3     34     89
4     56     54

Choosing between loc and iloc

| Feature        | `.iloc` (Integer Location)        | `.loc` (Label-based Location) |
| -------------- | --------------------------------- | ----------------------------- |
| Works with     | **Position** (integers)           | **Label/index**               |
| Range includes | **Start to End-1** (Python style) | **Start to End** (inclusive)  |
| Used when      | You know the **row number**       | You know the **index label**  |

labels are not always numbers.

# Manipulating the index

set_index

that replaces the default row numbers (index) of a DataFrame with one of the columns — so you can use label-based selection (.loc) more effectively.

In [161]:
fruits.set_index('day')

       apple  orange  mango
day
mon       30      21      9
tue       35      34     13
wen       41      11     11
thurs     34      67     89
fri       56      76     54

## Conditional selection

In [162]:
games = pd.read_csv('games/games.csv')

In [163]:
games.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [164]:
games.loc[games.winner == 'white']

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
6,qwU9rasv,True,1.504230e+12,1.504230e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20050,nYOvevdh,True,1.499814e+12,1.499814e+12,9,outoftime,white,10+0,jamboger,1243,yamaguchipolgar,1142,c4 e5 d4 exd4 Qxd4 Nf6 Bg5 Be7 e4,A20,English Opening: King's English Variation,2
20052,EopEqqAa,True,1.499812e+12,1.499812e+12,37,resign,white,10+10,jamboger,1219,samael88,1250,c4 e6 d4 b6 Nc3 Bb7 Nf3 g6 h4 Bg7 Bg5 f6 Bf4 d...,A40,English Defense,4
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4

In [165]:
games.loc[(games.winner == 'white') & (games.white_rating >= 1500)]

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
6,qwU9rasv,True,1.504230e+12,1.504230e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10
19,x31mXlvc,False,1.503760e+12,1.503760e+12,25,resign,white,11+0,g-ios,1500,shivangithegenius,1094,d4 d5 h3 Nc6 Nf3 Nf6 Bg5 h6 Bxf6 exf6 e3 Bb4+ ...,D00,Queen's Pawn Game,2
22,5cgBygpI,False,1.502950e+12,1.502950e+12,17,resign,white,15+5,storm28rus,1500,shivangithegenius,1094,e4 c5 Bc4 Nf6 Nc3 d6 Nf3 g6 Ng5 e6 d3 Bg7 O-O ...,B20,Sicilian Defense: Bowdler Attack,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20028,8HGqt5cf,True,1.504041e+12,1.504042e+12,115,mate,white,10+0,lynnpv,1878,magnosouza,1720,c4 d5 cxd5 Qxd5 Nc3 Qf5 Nf3 e5 e4 Qg4 Nxe5 Qe6...,A10,English Opening: Anglo-Scandinavian Defense,2
20039,NWgLdNx8,True,1.500722e+12,1.500726e+12,57,resign,white,45+45,oddskill,1550,jamboger,1250,e4 e5 Nf3 Nc6 Bc4 Bc5 b4 Bxb4 c3 Ba5 Qb3 Qf6 O...,C52,Italian Game: Evans Gambit | Main Line,10
20042,5Fx8GBTL,True,1.500156e+12,1.500157e+12,53,resign,white,10+10,kevineclmans,1759,jamboger,1265,e4 d6 d4 Nf6 Nc3 Nbd7 f4 e5 Nf3 Be7 dxe5 dxe5 ...,B07,Lion Defense: Anti-Philidor | Lion's Cave,8
20044,PVqRI7Ma,True,1.500155e+12,1.500156e+12,37,mate,white,10+10,shchuchin,1523,jamboger,1256,e4 e6 d4 d5 e5 Nc6 Nf3 f6 Bb5 Bd7 O-O Nge7 exf...,C02,French Defense: Advance Variation #3,5
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2

In [166]:
games.loc[(games.winner == 'white') | (games.white_rating >= 1500)]

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
6,qwU9rasv,True,1.504230e+12,1.504230e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20050,nYOvevdh,True,1.499814e+12,1.499814e+12,9,outoftime,white,10+0,jamboger,1243,yamaguchipolgar,1142,c4 e5 d4 exd4 Qxd4 Nf6 Bg5 Be7 e4,A20,English Opening: King's English Variation,2
20052,EopEqqAa,True,1.499812e+12,1.499812e+12,37,resign,white,10+10,jamboger,1219,samael88,1250,c4 e6 d4 b6 Nc3 Bb7 Nf3 g6 h4 Bg7 Bg5 f6 Bf4 d...,A40,English Defense,4
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4

In [167]:
games.loc[(games.winner.isin(['white']))]

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
6,qwU9rasv,True,1.504230e+12,1.504230e+12,33,resign,white,10+0,capa_jr,1520,daniel_likes_chess,1423,d4 d5 e4 dxe4 Nc3 Nf6 f3 exf3 Nxf3 Nc6 Bb5 a6 ...,D00,Blackmar-Diemer Gambit: Pietrowsky Defense,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20050,nYOvevdh,True,1.499814e+12,1.499814e+12,9,outoftime,white,10+0,jamboger,1243,yamaguchipolgar,1142,c4 e5 d4 exd4 Qxd4 Nf6 Bg5 Be7 e4,A20,English Opening: King's English Variation,2
20052,EopEqqAa,True,1.499812e+12,1.499812e+12,37,resign,white,10+10,jamboger,1219,samael88,1250,c4 e6 d4 b6 Nc3 Bb7 Nf3 g6 h4 Bg7 Bg5 f6 Bf4 d...,A40,English Defense,4
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4

In [168]:
games.loc[games.winner.notnull()]

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20054,WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
20057,N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

# Assigning data

In [169]:
games['winner']='white'

In [170]:
games['index_backwards']=range(len(games), 0, -1)

In [171]:
games.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,index_backwards
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,20058
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,white,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,20057
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,20056
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,20055
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,20054

Summary Functions

In [172]:
games.white_rating.describe()

count    20058.000000
mean      1596.631868
std        291.253376
min        784.000000
25%       1398.000000
50%       1567.000000
75%       1793.000000
max       2700.000000
Name: white_rating, dtype: float64

In [173]:
games.opening_name.describe()

count                    20058
unique                    1477
top       Van't Kruijs Opening
freq                       368
Name: opening_name, dtype: object

In [174]:
games.opening_name.unique()

array(['Slav Defense: Exchange Variation',
       'Nimzowitsch Defense: Kennedy Variation',
       "King's Pawn Game: Leonardis Variation", ...,
       "Queen's Indian Defense: Classical Variation |  Traditional Variation",
       "Queen's Gambit Declined: Slav |  Dutch Variation",
       'Sicilian Defense: Najdorf Variation |  Polugaevsky Variation'],
      shape=(1477,), dtype=object)

In [175]:
games.opening_name.value_counts()

opening_name
Van't Kruijs Opening                                                  368
Sicilian Defense                                                      358
Sicilian Defense: Bowdler Attack                                      296
French Defense: Knight Variation                                      271
Scotch Game                                                           271
                                                                     ...
Slav Defense: Two Knights Attack                                        1
Sicilian Defense: Richter-Rauzer Variation |  Vitolins Variation        1
Queen's Gambit Declined: Exchange Variation |  Reshevsky Variation      1
Neo-Gruenfeld Defense: Classical Variation |  Polgar Variation          1
Slav Defense: Diemer Gambit                                             1
Name: count, Length: 1477, dtype: int64

# Maps

In [176]:
games_white_rating_mean = games.white_rating.mean()
games.white_rating.map(lambda p: p - games_white_rating_mean)

0        -96.631868
1       -274.631868
2       -100.631868
3       -157.631868
4        -73.631868
            ...
20053     94.368132
20054   -363.631868
20055   -377.631868
20056   -236.631868
20057   -361.631868
Name: white_rating, Length: 20058, dtype: float64

In [177]:
def remean_rating(row):
    row.white_rating = row.white_rating - games_white_rating_mean
    return row

In [178]:
games.apply(remean_rating, axis='columns')

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,index_backwards
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,-96.631868,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,20058
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,white,5+10,a-00,-274.631868,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,20057
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,-100.631868,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,20056
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,-157.631868,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,20055
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,-73.631868,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,20054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,94.368132,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2,5
20054,WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,white,10+0,jamboger,-363.631868,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2,4
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,-377.631868,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,-236.631868,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4,2
20057,N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,white,10+0,jamboger,-361.631868,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3,1

# Grouping and sorting

In [179]:
games.groupby('victory_status').white_id.count()

victory_status
draw           906
mate          6325
outoftime     1680
resign       11147
Name: white_id, dtype: int64

In [180]:
games.groupby('victory_status').turns.min()

victory_status
draw         2
mate         4
outoftime    1
resign       1
Name: turns, dtype: int64

In [181]:
games.groupby(['victory_status']).turns.agg([len, min, max])

C:\Users\Keerthana Murugesan\AppData\Local\Temp\ipykernel_11336\2178581571.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  games.groupby(['victory_status']).turns.agg([len, min, max])
C:\Users\Keerthana Murugesan\AppData\Local\Temp\ipykernel_11336\2178581571.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  games.groupby(['victory_status']).turns.agg([len, min, max])

                  len  min  max
victory_status
draw              906    2  259
mate             6325    4  222
outoftime        1680    1  349
resign          11147    1  218

# Multiindex

groupby() is slightly different in the fact that, depending on the operation we run, it will sometimes result in what is called a multi-index.

In [182]:
vic = games.groupby(['victory_status', 'opening_ply']).turns.agg([len])
vic

                            len
victory_status opening_ply
draw           1             41
               2            140
               3            151
               4            136
               5            126
...                         ...
resign         18            10
               19             6
               20             4
               22             1
               28             3

[81 rows x 1 columns]

In [183]:
vic.reset_index()

   victory_status  opening_ply  len
0            draw            1   41
1            draw            2  140
2            draw            3  151
3            draw            4  136
4            draw            5  126
..            ...          ...  ...
76         resign           18   10
77         resign           19    6
78         resign           20    4
79         resign           22    1
80         resign           28    3

[81 rows x 3 columns]

# sorting

In [184]:
vic.sort_values(by='len', ascending=False)

                             len
victory_status opening_ply
resign         3            1820
               4            1797
               2            1547
               5            1540
mate           3            1222
...                          ...
draw           20              1
outoftime      28              1
               24              1
               20              1
resign         22              1

[81 rows x 1 columns]

In [185]:
vic.sort_index()

                            len
victory_status opening_ply
draw           1             41
               2            140
               3            151
               4            136
               5            126
...                         ...
resign         18            10
               19             6
               20             4
               22             1
               28             3

[81 rows x 1 columns]

In [186]:
games.white_rating.dtype

dtype('int64')

In [187]:
games.dtypes

id                  object
rated                 bool
created_at         float64
last_move_at       float64
turns                int64
victory_status      object
winner              object
increment_code      object
white_id            object
white_rating         int64
black_id            object
black_rating         int64
moves               object
opening_eco         object
opening_name        object
opening_ply          int64
index_backwards      int64
dtype: object

In [188]:
games[pd.isnull(games.white_rating)]

Empty DataFrame
Columns: [id, rated, created_at, last_move_at, turns, victory_status, winner, increment_code, white_id, white_rating, black_id, black_rating, moves, opening_eco, opening_name, opening_ply, index_backwards]
Index: []

In [189]:
games.winner.replace('white', 'black')

0        black
1        black
2        black
3        black
4        black
         ...
20053    black
20054    black
20055    black
20056    black
20057    black
Name: winner, Length: 20058, dtype: object

# renaming and combaining

In [190]:
games.rename(columns={'winner': 'win'})

,id,rated,created_at,last_move_at,turns,victory_status,win,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,index_backwards
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,20058
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,white,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,20057
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,20056
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,20055
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,20054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2,5
20054,WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,white,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2,4
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4,2
20057,N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,white,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3,1

# Combining

In [191]:
canadian_youtube = pd.DataFrame({
    'video_id': ['CA1', 'CA2'],
    'title': ['Canadian Video 1', 'Canadian Video 2'],
    'views': [100000, 250000],
    'country': ['Canada', 'Canada']
})

In [192]:
british_youtube = pd.DataFrame({
    'video_id': ['UK1', 'UK2'],
    'title': ['British Video 1', 'British Video 2'],
    'views': [150000, 300000],
    'country': ['UK', 'UK']
})

In [193]:
combined_youtube = pd.concat([canadian_youtube, british_youtube])

In [194]:
combined_youtube

  video_id             title   views country
0      CA1  Canadian Video 1  100000  Canada
1      CA2  Canadian Video 2  250000  Canada
0      UK1   British Video 1  150000      UK
1      UK2   British Video 2  300000      UK

In [195]:
left = canadian_youtube.set_index(['title', 'views'])
left

                        video_id country
title            views
Canadian Video 1 100000      CA1  Canada
Canadian Video 2 250000      CA2  Canada

In [196]:
right = british_youtube.set_index(['title', 'views'])
right

                       video_id country
title           views
British Video 1 150000      UK1      UK
British Video 2 300000      UK2      UK

In [197]:
left.join(right, lsuffix='_CAN', rsuffix='_UK')

                        video_id_CAN country_CAN video_id_UK country_UK
title            views
Canadian Video 1 100000          CA1      Canada         NaN        NaN
Canadian Video 2 250000          CA2      Canada         NaN        NaN

In [198]:
right.join(left, lsuffix='_CAN', rsuffix='_UK')

                       video_id_CAN country_CAN video_id_UK country_UK
title           views
British Video 1 150000          UK1          UK         NaN        NaN
British Video 2 300000          UK2          UK         NaN        NaN